<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--1.一个事件发布实例-->
    <bean id="publisher"
          class="com.whc.chapter4.Event.MessagePublisher">
    </bean>

    <!--2.一个事件监听实例-->
    <bean id="listener"
          class="com.whc.chapter4.Event.MessageEventListener">
    </bean>
</beans>
