<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="beanNameTest"
          class="com.whc.chapter4.SpringFeelingBean._01BeanNameAware"
          init-method="myinit"
          destroy-method="mydestroy"
          scope="prototype"
          lazy-init="true"></bean>

    <bean id="applicationcontextawarebean"
          class="com.whc.chapter4.SpringFeelingBean._02ApplicationContextAware"
          init-method="myinit"
          destroy-method="mydestroy"
          lazy-init="true"></bean>
    <bean id="mystring00"
          class="java.lang.String">
        <constructor-arg>
            <value>我是字符串</value>
        </constructor-arg>
    </bean>

</beans>
